# Set the default behaviour, in case people don't have core.autocrlf set.
* text=auto

# Set the default to LF for all files.
* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
